extends layout

block content
  div#videoView
    label= msg
    div#left
      div#channelTabs
        ul 
          li Comedy
          li Drama
          li Action
    div#right
      video#videoStream
  div#videoInfo