extends layout

block content
  div#content
    div#videoView
      p= msg
      div#left
        div#channelTabs
          ul 
            each channel in channels
              li
                a(href="/?ch=#{channel.channelName}")= channel.channelName
      div#right
        video#videoStream
      div#comments
        p Comments
  
  div#videoInfo
    h1 Video Info