doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/libs/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(rel='stylesheet', href='/fonts/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header(style="z-index:10000;")
      div#inner
        h1(onclick="window.location='/'", id="logo")= title
        if loggedIn == true
          a.headerButton(href="/logout") <i class="fa fa-sign-out fa-lg"></i>
          a.headerButton(href="/profileDashboard") <i class="fa fa-cog fa-lg"></i>
          label.headerButton= firstName   
        else 
          a.headerButton(href="/login") Login
    div#wrapper
      
      block content