doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/libs/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      div#inner
        h1(onclick="window.location='/'", id="logo")= title
        label#subTitle= subTitle
        a.headerButton(href="/upload", id="uploadLink") Upload
        if loggedIn == true
          a.headerButton(href="/") #{firstName}
          a.headerButton(href="/logout") Logout    
        else 
          a.headerButton(href="/login") Login
    div#wrapper
      
      block content