doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/libs/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      h1(onclick="window.location='/'")= title
      a.button.blue(href="/upload", id="uploadLink") Upload
      a.button.blue(href="/login", id="uploadLink") Login
    div#content
      block content