extends layout

block content
  link(rel='stylesheet', href="/stylesheets/libs/jquery.fileupload.css")
  script(src="/javascripts/libs/dropzone.js")
  form#uploadForm(class="dropzone", action="http://localhost:8080/upload", method="POST")
    input(type="text", name="episodeName", id="episodeName", placeholder="episode title", class="formText")
    br
    br
    input(type="hidden", name="seriesId", value="daw88w9ad98d89", id="seriesId", class="formText")
    select#uploadSelect
      option(value="daw88w9ad98d89") Escape from Drexel
      option(value="ado09dwa9wad0d") Brainstorn Adventures
      option(value="km32mk32k3k3jh") Magic Storm Nation
    br
    br
    div#dropzone
    div#uploadContainer
      div
        div.dz-message(data-dz-message)
    input(class="formButton", type="button", id="uploadButton", value="Upload")

  script.
    $("#uploadSelect").on("change", function(){
      var optionSelected = $(this).find("option:selected");
      var valueSelected  = optionSelected.val();
      $("#seriesId").val(valueSelected);
    });
    var myDropzone = new Dropzone("div#dropzone", { 
      url: "http://localhost:8080/upload",
      autoProcessQueue: false,
      maxFilesize: 2048,
      previewsContainer: "div#uploadContainer",
      previewTemplate: "<div class=\"dz-preview dz-file-preview\"><div class=\"dz-details\"><div class=\"dz-filename\"><span data-dz-name></span></div><div class=\"dz-size\" data-dz-size></div><img data-dz-thumbnail class=\"uploadThumb\" />",
      accept: function(file, done) {
        console.log("Got file "+file.name); done();
      },
      init: function() {
        var submitBtn = document.querySelector("#uploadButton");

        d = this;
        submitBtn.addEventListener("click", function(){
          $.ajax({
            method: "POST",
            url: "http://localhost:8080/upload",
            data: {seriesId: $("#seriesId").val(), episodeName: $("#episodeName").val()},
            failure: function(response){
              alert("Submit Failed")
            },
            success: function(response){
              console.log("Submitted")
              d.processQueue();
            }
          })
            
        });
          

        this.on("addedfile", function() {
          console.log('file added');
        })
      }
    });
