extends layout

block content
  link(rel='stylesheet', href="/stylesheets/libs/jquery.fileupload.css")
  script(src="/javascripts/libs/dropzone.js")
  form#uploadForm(class="dropzone", action="http://localhost:8080/upload")
    input(type="text", name="episodeTitle", placeholder="episode title", class="formText")
    br
    br
    input(type="text", name="channel", placeholder="channel", class="formText")
    br
    br
    div#dropzone
    div#uploadContainer
      div
        div.dz-message(data-dz-message)
    br
    br
    a(class="formButton", id="uploadButton") Submit

  script.
    console.log("working")
    var myDropzone = new Dropzone("div#dropzone", { 
      url: "http://localhost:8080/upload",
      autoProcessQueue: false,
      maxFilesize: 2048,
      previewsContainer: "div#uploadContainer",
      previewTemplate: "<div class=\"dz-preview dz-file-preview\"><div class=\"dz-details\"><div class=\"dz-filename\"><span data-dz-name></span></div><div class=\"dz-size\" data-dz-size></div><img data-dz-thumbnail class=\"uploadThumb\" />",
      accept: function(file, done) {
        console.log("Got file "+file.name); done();
      },
      init: function() {
        var submitBtn = document.querySelector("#uploadButton");

        d = this;
        submitBtn.addEventListener("click", function(){
          d.processQueue();
        });

        this.on("addedfile", function() {
          console.log('file added');
        })
      }
    });
