/*
  Purple= #742365
*/
@font-face {
    font-family: acid;
    src: url(../fonts/acid.otf);
    font-weight: bold;
}

body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {

  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1% 12.5%;
  position: relative;
}

#inner {
  min-width: 1012px;
}

#inner > *{
  display: inline;

}
#wrapper > * {
  padding: 2% 12.5%;
  width: 100%;
}

#content {
  float:left;
  background-image: url(../images/px_by_Gre3g.png); background-repeat: repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

#left {
  height: 400px;
  float:left;
  overflow-y: auto;
}

#left::-webkit-scrollbar {
    width: 8px;
}
#left::-webkit-scrollbar-track {
    background-color: transparent;
    
}
#left::-webkit-scrollbar-thumb {
    background-color: #742365;
}
#left::-webkit-scrollbar-thumb:hover {
    opacity: .5;
}
#left ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  list-style-type: none;
  padding-left: 0px;
}

#left #channelTabs ul li {
  padding: 5px;
  padding-right: 20px;
  color: #fff;
  font-size: 24px; 
}

#left #channelTabs ul li:hover {
  cursor: pointer;
  background-color: #742365;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.1s ease-in-out;
}

#right {
  height: 400px;
  float:left;
  background-color: #fff;
  min-width: 200px;
}

#comments {
  padding: 10px;
  height: 400px;
  float:left;
  background-color: #fff;
  min-width: 275px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #742365;
  border-bottom: 1px solid #742365;
  border-right: 1px solid #742365;
}

h1 {
  font-size: 32px;
  font-family: acid;
  color: #742365;
}

#logo:hover {
  cursor: pointer;
}

#subTitle {
  margin-left: 20px;
  position: absolute;
  margin-top: 10px;
  color: #858585;
  font-family: 'Open Sans';
  font-size: 14px
}

#videoView {
  min-width: 1012px;
  float: left;
  width: 100%;
}

#videoInfo {
  min-height: 100px;
  float:left;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #742365;
}

#videoStream {

  width: 600px;
  height: 400px;
  background-color: black;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a.headerButton {
  margin-top: 5px;
	padding: 5px;
	color: #742365;
  text-decoration: none;
  float:right;
  margin-left: 10px;
}

a.headerButton:hover {
	border-bottom: 2px solid #742365;
	cursor: pointer;
  -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

a.formButton {
  color: #742365;
  text-decoration: none;
  padding: 5px;
}

a.formButton:hover {
  color: #fff;
  cursor: pointer;
  background-color: #742365;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.1s ease-in-out;
}

#formUpload {

}

#uploadForm ul {
}

#uploadForm ul li {
	list-style-type: none;
}

.formText {
	outline: none;
	background-color: #fff;
	color: #444;
	padding: 10px;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
}

/*.fileUpload {
	outline: none;
	margin-left: 10px;

}

.fileUpload::-webkit-file-upload-button {
  visibility: hidden;
  content: "#fff";
}

.fileUpload::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.fileUpload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
*/

#dropzone {
  margin-bottom: 10px;
  margin-left: -10px;
  background-size: 100% 100%;    
  width: 400px;
  height: 280px;
  background: url(../images/dropzone.png) no-repeat;
  font-weight: bold;
  opacity: .5;
}

#dropzone:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: .9;
}

#uploadButton {
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}

#uploadButton:hover {
  background-color: #742365;
  color: #fff;
}
#uploadContainer {
  width: 100%;
}

.dz-file-preview, .dz-preview {
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ccc;
  padding: 5px;
}

#uploadThumb {
  width: inherit;
  height: inherit;
}

#uploadLink {
  
}