/*
  Purple= #742365
*/
@font-face {
    font-family: acid;
    src: url(../fonts/acid.otf);
    font-weight: bold;
}

body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {

  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px 150px;
  position: relative;
}

#header > * {
  display: inline;
}

#content > * {
  padding: 40px 150px;
}

#left {
  height: 600px;
  float:left;
}

#left ul {
  list-style-type: none;
  background-color: #fff;
}

#left #channelTabs ul li {
  padding: 5px;
  padding-right: 20px;
  color: #656565;
  font-size: 24px; 
}

#left #channelTabs ul li:hover {
  color: #742365;
  cursor: pointer;
  border-top: 3px solid #742365;
  border-bottom: 3px solid #742365;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.1s ease-in-out;
}

#right {
  height: 600px;
  float:left;
}

h1 {
  font-size: 32px;
  font-family: acid;
  color: #742365;
}

h1:hover {
  cursor: pointer;
}

#subTitle {
  margin-left: 20px;
  position: absolute;
  margin-top: 10px;
  color: #858585;
  font-family: 'Open Sans';
  font-size: 14px
}

#videoView {
  float:left;
  width: 100%;
}

#videoInfo {
  float:left;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #742365;
}

#videoStream {
  width: 800px;
  height: 600px;
  background-color: black;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a.headerButton {
  margin-top: 5px;
	padding: 5px;
	color: #742365;
  text-decoration: none;
  float:right;
  margin-left: 10px;
}

a.headerButton:hover {
	border-bottom: 2px solid #742365;
	cursor: pointer;
  -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

a.formButton {
  color: #742365;
  text-decoration: none;
  padding: 5px;
}

a.formButton:hover {
  color: #fff;
  cursor: pointer;
  background-color: #742365;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.1s ease-in-out;
}

#formUpload {

}

#uploadForm ul {
}

#uploadForm ul li {
	list-style-type: none;
}

.formText {
	outline: none;
	background-color: #fff;
	color: #444;
	padding: 10px;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	margin: 0px 10px;
}

/*.fileUpload {
	outline: none;
	margin-left: 10px;

}

.fileUpload::-webkit-file-upload-button {
  visibility: hidden;
  content: "#fff";
}

.fileUpload::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.fileUpload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
*/

#dropzone {
    background-color: #f1f1f1;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone:hover {
    background-color: #ccc;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#uploadButton {
  margin: 20px 0px 0px 15px;
}

#uploadContainer {
  width: 100%;
}

.dz-file-preview, .dz-preview {
  display: inline-block;
  width: 150px;
  height: 150px;
}

#uploadThumb {
  width: inherit;
  height: inherit;
}

#uploadLink {
  
}