/*
  Purple= #D11E48
  Red = #D11E48
*/
@font-face {
    font-family: acid;
    src: url(../fonts/acid.otf);
    font-weight: bold;
}
@font-face {
    font-family: quiglet;
    src: url(../fonts/quiglet.otf);
}
body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#header {
  z-index: -1;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  padding: 10px 20px;
  position: relative;
  height: 45px;
  background-color: #D11E48;
}

#inner {
  min-width: 500px;
}
#inner > *{
  display: inline;

}
#wrapper > * {
  padding: 0 0;
  width: 100%;
}
#content {
  background-image: url(../images/px_by_Gre3g.png); background-repeat: repeat;
  width: 100%;
  height:  100%;
}
#left, #right {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#left {
  height: 200px;
  float:left;
  overflow-y: auto;
  width: 40%;
}

#left::-webkit-scrollbar {
    width: 8px;
}
#left::-webkit-scrollbar-track {
    background-color: transparent;
    
}
#left::-webkit-scrollbar-thumb {
    background-color: #D11E48;
}
#left::-webkit-scrollbar-thumb:hover {
    opacity: .5;
}
#left #subContent {
  margin: 10px; 

}
#left ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  list-style-type: none;
  padding-left: 0px;
}

#left #channelTabs ul li {
  padding: 5px;
  padding-right: 20px;
  font-size: 24px; 
}


#left #channelTabs ul li a {
  color: #fff;
  text-decoration: none;
}

#left #channelTabs ul li:hover {
  cursor: pointer;
  background-color: #D11E48;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.1s ease-in-out;
}

#right {
  margin-left: 20px;
  min-height: 400px;
  float:left;
  min-width: 200px;
  width: calc(60% - 20px);
}

#comments {
  padding: 10px;
}
#commentForm {
  padding: 10px;
}
#comment {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}
#commentText {
  width: 60%;
  font-family: acid;
  font-size: 25px;
  text-align: left;
  border-radius: 5px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  padding: 10px;
  border: 1px solid #DDDDDD;
}
#submitComment {
  margin-left: 10px;
  width: 20%;
  background-color: #D11E48;
  border: none;
  color: #fff;
  font-size: 25px;
  font-family: acid;
  padding: 10px;
  -webkit-transition: background-color 0.40s ease-in-out;
  -moz-transition: background-color 0.40s ease-in-out;
  -ms-transition: background-color 0.40s ease-in-out;
  -o-transition: background-color 0.40s ease-in-out;
  border-radius: 5px;
}
#submitComment:hover {
  opacity: .7;
}
h1 {
  font-size: 25px;
  font-family: quiglet;
  color: white;
  letter-spacing: 5px;
}

h2 {
  color: #D11E48;
  margin-left: 2%;
}

.episodeName {
  color: #666;
  font-size: 18px
}

.subTitle {
  font-size: 16px;
  color: #D11E48;
}

#logo:hover {
  cursor: pointer;
}

#subTitle {
  margin-left: 20px;
  position: absolute;
  margin-top: 10px;
  color: rgb(205,205,205);
  font-family: 'Open Sans';
  font-size: 14px
}

#videoInfo {
  padding: 1%;
  min-height: 100px;
  float:left;
  width: 100%;
  background-image: url(../images/light_honeycomb.png); background-repeat: repeat;
}

#videoStream {
  background-color: black;
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

#share > * {
  margin-left: 10px;
}

#share i {
  color: #D11E48;
}

#share i:hover {
  cursor: pointer;
  opacity: .7;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}
.headerButton{
  font-size: 18px;
}
label.headerButton{
  padding: 5px;
  margin-top: -3px;
  color: white;
  text-decoration: none;
  
  float:right;
  margin-left: 10px;
}
a.headerButton {
	padding: 5px;
  margin-top: -4px;
	color: white;
  text-decoration: none;
  
  float:right;
  margin-left: 10px;
}

a.headerButton:hover {
	opacity: .7;
}

a.formButton {
  color: #D11E48;
  text-decoration: none;
  padding: 5px;
}

a.formButton:hover {
  color: #fff;
  cursor: pointer;
  background-color: #D11E48;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.1s ease-in-out;
}

#formUpload {

}

#uploadForm ul {
}

#uploadForm ul li {
	list-style-type: none;
}

.formText {
	outline: none;
	background-color: #fff;
	color: #444;
	padding: 10px;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
}

#dropzone {
  margin-bottom: 10px;
  margin-left: -10px;
  background-size: 100% 100%;    
  width: 400px;
  height: 280px;
  background: url(../images/dropzone.png) no-repeat;
  font-weight: bold;
  opacity: .5;
}

#dropzone:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: .9;
}

#uploadButton {
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}

#uploadButton:hover {
  background-color: #D11E48;
  color: #fff;
}
#uploadContainer {
  width: 100%;
}

.dz-file-preview, .dz-preview {
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ccc;
  padding: 5px;
}

#uploadThumb {
  width: inherit;
  height: inherit;
}

#uploadLink {
  
}
.wrapper-dropdown-5 {
  font-family: "open sans";
    font-size: 14px;
    /* Size & position */
    position: absolute;
    top: 3px;
    left: calc( 50% - 100px );
    width: 200px;
    z-index: 10000;
    margin: 0 auto;
    padding: 10px 12px;
    color: #fff;
    /* Styles */
    background: #666;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.wrapper-dropdown-5 .dropdown {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  list-style-position: inside;
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  /* Styles */
  background: #666;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;

  /* Hiding */
  max-height: 0;
}

.wrapper-dropdown-5 .dropdown::-webkit-scrollbar {
    width: 8px;
}
.wrapper-dropdown-5 .dropdown::-webkit-scrollbar-track {
    background-color: transparent;
    
}
.wrapper-dropdown-5 .dropdown::-webkit-scrollbar-thumb {
    background-color: #D11E48;
}
.wrapper-dropdown-5 .dropdown::-webkit-scrollbar-thumb:hover {
    opacity: .5;
}

.wrapper-dropdown-5 .dropdown li {
    position: relative;
    left: -42px;
    width: 200px;
    padding: 0 20px ;

}

.wrapper-dropdown-5 .dropdown li a {

    left: 0;
    display: block;
    text-decoration: none;
    font-family: "open sans";
    color: #111;
    padding: 10px 0;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    font-style: normal;
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #fff;

}

.wrapper-dropdown-5 .dropdown li:hover {
    color: #fff;
    background: #D11E48;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    opacity: .7;
    box-shadow: none;
    border-bottom: none;
    color: white;

}

.wrapper-dropdown-5.active:after {
    border-color: #D11E48 transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

