
body{
/*background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/tv.jpg');*/
background-image: url(../images/light_honeycomb.png); background-repeat: repeat;
}
 #editAccountForm, #newSeriesForm{
  width: 100%;
}
#loginForm, #createAccountForm, #editAccountForm, #newSeriesForm input[type="submit"]{
}

#loginForm, #createAccountForm{
  width: 450px;
  text-align: center;
  margin: 100px auto;
}
#wrapper a.sleekButton{
  width: 100%;
  max-width: 300px;
  display: block;
  border: 1px solid white;
  color: white;
  font-family: acid;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  padding: 15px 15px 15px 15px;
  font-size: 30px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  border-radius: 15px;
  margin-bottom: 50px;
}
#wrapper a.sleekButton:hover{
  background-color: white;
  border: 1px solid #D11E48;
  color: #D11E48;
}
#wrapper a.sleekButton.bad:hover{
  background-color: #D11E48;
  border: 1px solid #D11E48;
  color: rgb(15,15,15);
}

h3{
  color: white;
  font-family: acid;
  font-size: 45px;
}
input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  height: 60px;
  font-family: acid;
  font-size: 25px;
  text-align: left;
  border-radius: 5px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  padding: 20px 20px 20px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type="text"]:focus, input[type="password"]:focus{
  -webkit-box-shadow: 0px 0px 5px 1px #D11E48;
  -moz-box-shadow: 0px 0px 5px 1px #D11E48;
  box-shadow: 0px 0px 5px 0.5px #D11E48;
  margin: 5px 1px 3px 0px;
  border: 1px solid #D11E48;
  outline: none;
}
input[type="submit"]{
  width: calc(100% - 20px);
  background-color: #D11E48;
  border: none;
  color: white;
  height: 60px;
  font-size: 45px;
  font-family: acid;
  -webkit-transition: background-color 0.40s ease-in-out;
  -moz-transition: background-color 0.40s ease-in-out;
  -ms-transition: background-color 0.40s ease-in-out;
  -o-transition: background-color 0.40s ease-in-out;
  border-radius: 5px;
}
input[type="submit"]:hover{
  background-color: #a41839;
}
a.input{
  font-size: 35px;
  font-family: acid;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  padding-bottom: 45px;
}
a.input:hover{
  text-decoration: none;
}

#left, #right {
  padding: 0;
}

#dashboard ul {
  font-size: 18px;
}

#dashboard ul li {
  padding: 10px 20px;
  line-height: 30px;
}

#dashboard ul li a {
  color: #D11E48;
}

#dashboard ul li a:hover {
  opacity: .7;
}

#listTitle {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
#innerForm {
  padding: 0;
}
#innerFormTitle {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
#innerFormTitle h2 {
  color: #444;
  font-size: 18px;
}
#innerForm form > input {
  margin: 10px;
}
h2 {
  margin:0;
  line-height: 30px;
  padding: 10px 0 5px 20px;
}
h2 i {
  margin:0;
  padding:0;
}