
body{
/*background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/tv.jpg');*/
background-image: url(../images/light_honeycomb.png); background-repeat: repeat;
}
 #editAccountForm, #newSeriesForm{
  width: 100%;
}
#loginForm, #createAccountForm, #editAccountForm, #newSeriesForm input[type="submit"]{
}

#loginForm, #createAccountForm, #uploadForm {
  width: 450px;
  text-align: center;
  margin: 100px auto;
}
#wrapper a.sleekButton{
  width: 100%;
  max-width: 300px;
  display: block;
  border: 1px solid white;
  color: white;
  font-family: acid;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  padding: 15px 15px 15px 15px;
  font-size: 30px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  border-radius: 15px;
  margin-bottom: 50px;
}
#wrapper a.sleekButton:hover{
  background-color: white;
  border: 1px solid #D11E48;
  color: #D11E48;
}
#wrapper a.sleekButton.bad:hover{
  background-color: #D11E48;
  border: 1px solid #D11E48;
  color: rgb(15,15,15);
}

h3{
  color: white;
  font-family: acid;
  font-size: 45px;
}
input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  height: 60px;
  font-family: acid;
  font-size: 25px;
  text-align: left;
  border-radius: 5px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  padding: 20px 20px 20px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type="text"]:focus, input[type="password"]:focus{
  -webkit-box-shadow: 0px 0px 5px 1px #D11E48;
  -moz-box-shadow: 0px 0px 5px 1px #D11E48;
  box-shadow: 0px 0px 5px 0.5px #D11E48;
  margin: 5px 1px 3px 0px;
  border: 1px solid #D11E48;
  outline: none;
}
input[type="submit"]{
  width: calc(100% - 20px);
  background-color: #D11E48;
  border: none;
  color: white;
  height: 60px;
  font-size: 45px;
  font-family: acid;
  -webkit-transition: background-color 0.40s ease-in-out;
  -moz-transition: background-color 0.40s ease-in-out;
  -ms-transition: background-color 0.40s ease-in-out;
  -o-transition: background-color 0.40s ease-in-out;
  border-radius: 5px;
}
input[type="submit"]:hover{
  background-color: #a41839;
}
a.input{
  font-size: 35px;
  font-family: acid;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  padding-bottom: 45px;
}
a.input:hover{
  text-decoration: none;
}
/* Default custom select styles */
div.cs-select {
  font-size: 24px;
  margin: 20px 0px 10px 10px;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: calc(100% - 20px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cs-select:focus {
  outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
  display: none;
}

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
  content: '\25BE';
  right: 1em;
}

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em;
}

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
  z-index: 200;
}

/* Options */
.cs-select .cs-options {
  overflow-y: auto;
  position: absolute;
  width: inherit;
  background: #fff;
  visibility: hidden;
}

.cs-select.cs-active .cs-options {
  visibility: visible;
}

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  overflow-y: auto;
}

.cs-select ul::-webkit-scrollbar {
    width: 8px;
}
.cs-select ul::-webkit-scrollbar-track {
    background-color: transparent;
    
}
.cs-select ul::-webkit-scrollbar-thumb {
    background-color: #D11E48;
}
.cs-select ul::-webkit-scrollbar-thumb:hover {
    opacity: .5;
}

.cs-select ul span {
  padding: 1em;
}

.cs-select ul li.cs-focus span {
  background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
  cursor: default;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
  src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.cs-skin-border {
  background: #fff;
  font-weight: 700;
}

@media screen and (max-width: 30em) {
  div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
  border: 2px solid #ddd9c9;
  border-color: #ddd9c9;
  color: #D11E48;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
  font-family: 'icomoon';
  content: '\e000';
}

.cs-skin-border ul span::after {
  content: '';
  opacity: 0;
}

.cs-skin-border .cs-selected span::after {
  content: '\e00e';
  color: #ddd9c9;
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
  background: #fff;
  border-color: #fff;
  color: #D11E48;
}

.cs-skin-border .cs-options {
  color: #D11E48;
  font-size: 0.75em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cs-skin-border ul span {
  padding: 1em 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #f5f3ec;
}

#left, #right {
  padding: 0;
}

#dashboard ul {
  font-size: 18px;
}

#dashboard ul li {
  padding: 10px 20px;
  line-height: 30px;
}

#dashboard ul li a {
  color: #D11E48;
}

#dashboard ul li a:hover {
  opacity: .7;
}

#listTitle {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
#innerForm {
  padding: 0;
}
#innerFormTitle {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
#innerFormTitle h2 {
  color: #444;
  font-size: 18px;
}
#innerForm form > input {
  margin: 10px;
}
h2 {
  margin:0;
  line-height: 30px;
  padding: 10px 0 5px 20px;
}
h2 i {
  margin:0;
  padding:0;
}